In [1]:
print("Hello World")

if 5 > 2:
    print("Five is greater than two!")

Hello World
Five is greater than two!

In [2]:
#This is a comment

"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

In [3]:
carname = "Volvo"

In [4]:
x = 5
y = 10
print(x + y)

15

In [5]:
z = x + y
print(z)

15

In [6]:
myfirst_name = "John" #Variable name
x = y = z = "Orange"

In [7]:
def myfunc():
    global x
    x = "fantastic"

In [8]:
x = 5
print(type(x)) #int

<class 'int'>

In [9]:
x = "Hello World"
print(type(x)) #str

<class 'str'>

In [10]:
x = 20.5
print(type(x)) #float

<class 'float'>

In [11]:
x = ["apple", "banana", "cherry"]
print(type(x)) #list

<class 'list'>

In [12]:
x = ("apple", "banana", "cherry")
print(type(x)) #tuple

<class 'tuple'>

In [13]:
x = {"name" : "John", "age" : 36}
print(type(x)) #dict

<class 'dict'>

In [14]:
x = True
print(type(x)) #bool

<class 'bool'>

In [16]:
x = 5
print(float(x))

5.0

In [18]:
x = 5.5
print(int(x))

5

In [19]:
x = 5
print(complex(x))

(5+0j)

In [20]:
x = "Hello, World"
print(len(x))

12

In [22]:
txt = "Hello, World"
x = txt[0]
print(x)

H

In [23]:
txt = "Hello, World"
x = txt[2:5]
print(x)

llo

In [27]:
txt = " Hello World "
x = txt.strip()
print(x)

Hello World

In [28]:
txt = "Hello World"
x = txt.upper()
print(x)

HELLO WORLD

In [29]:
txt = " Hello World "
x = txt.lower()
print(x)

 hello world

In [31]:
txt = "Hello World"
txt = txt.replace("H", "J")
print(txt)

Jello World

In [32]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36